//main: ../main.scss

// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
  
    box-sizing: border-box;
}