.section-why-choose {
    position: relative;
    margin-top: -90px;
    padding: 150px 0 0;
    height: 980px;

    background: url("../assets/images/background-why-choose.png") 0% 0% no-repeat;
    background-size: cover;
    background-position: center;

    .holder-why-choose {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 150px;

        color: white;
    }

    .holder-details {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 33.33%;

        text-align: center;

        &:nth-child(2n) {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                height: calc(100% - 100px);
                width: 1px;
                background-color: $navy-blue;
                transform: translateY(-50%);
            }

            &:before {
                left: 0;
            }
            
            &:after {
                right: 0;
            }
        }
    }

    .title {
        font-weight: bold;
        text-transform: uppercase;
    }

    .desc {
        width: 265px;
        max-width: 100%;
    }
}

@include respond-to(md) {
    .section-why-choose {
        .holder-why-choose {
            justify-content: center;
            margin-top: 85px;        
        }

        .holder-details {
            width: 50%;

            &:nth-child(2n) {
                &:after {
                    display: none;
                }
            }
        }
    }
}


@include respond-to(sm-down) {
    .section-why-choose {
        padding: 90px 0 90px;
        height: 100%;

        .holder-why-choose {
            justify-content: center;
            margin-top: 30px;        
        }

        .holder-details {
            width: 100%;

            &:nth-child(2n) {
                &:after,
                &:before {
                    display: none;
                }
            }
        }

        .desc {
            width: 410px;
        }
    }
}