.section-outsourcing {
    position: relative;
    // margin-bottom: -170px;
    padding: 120px 0 0;

    background: url(../assets/images/background-nearshore.png) 0% 0% no-repeat;
    background-size: cover;
    background-position: center;

    .section-desc {
        width: 884px;
        max-width: 100%;
        margin: 100px auto;

        text-align: center;
        font-size: 17px;
        line-height: 30px;
        color: $sapphire;
    }

    .holder-benefits-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    .benefits-list {
        position: relative;
        width: calc(50% - 20px);
        margin-bottom: 40px;
        padding: 16px;

        background-color: white;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);

        list-style-type: none;
    }

    .benefits-list-info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px 25px 25px 66px;
        height: 100%;

        border: 1.5px dashed $navy-blue;
    }

    .benefits-list-no {        
        position: absolute;
        top: 0;
        right: 0;
        
        opacity: .06;

        font-size: 250px;
        color: $navy-blue;
        line-height: 120px;
        letter-spacing: 0;
    }

    .title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
    }

    .holder-image {
        position: absolute;
        top: 50%;
        left: -38.5px;
        width: 77px;
        height: 87px;

        transform: translateY(-50%);
    }

    .icon {
        width: 77px;
        height: 87px;
    }

    .holder-image {

    }
}

@include respond-to(lg) {
    .section-outsourcing {
        .holder-benefits-list {
            padding: 0 35px;
        }
    }
}

@include respond-to(md-down) {
    .section-outsourcing {
        .holder-benefits-list {
            padding: 0 15px;
        }

        .benefits-list {
            width: 100%;
        }
    }
}

@include respond-to(sm-down) {
    .section-outsourcing {
        padding: 30px 0 0;

        .section-desc {
            margin: 30px auto;

            font-size: 14px;
            line-height: 22px;
        }

        .benefits-list-info {
            padding: 50px 15px 15px;
        }

        .benefits-list {
            margin-bottom: 25px;
        }

        .holder-image {
            top: -38.5px;
            left: 50%;
            transform: translateX(-50%);
        }

        .benefits-list-no {
            top: auto;
            bottom: 0;
            line-height: 170px;
        }
    }
}

