.section-banner {
    padding: 150px 0 0;
    height: 780px;

    background: url(../assets/images/background-banner.png) 0% 0% no-repeat;
    background-size: cover;

    .banner-title {
        text-align: right;
        text-transform: uppercase;
        color: white;
    }

    .holder-details {
        padding: 25px 35px;
        margin: 100px 0 0 auto;
        width: 536px;
        max-width: 100%;

        color: white;

        border: 1px dashed gray;
    }

    .details-title {
        margin-bottom: 20px;

        text-transform: uppercase;
        color: $navy-blue;
    }

    .details-subtitle {
        text-transform: uppercase;
    }

    .holder-swiper-button {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .swiper-button {
        margin: 0 15px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}


@include respond-to(sm-down) {
    .section-banner {
        height: 100%;
        padding: 60px 0 90px;

        .banner-title {
            font-size: 24px;
        }

        .details-title {
            font-size: 16.5px;
        }

        .details-subtitle {
            font-size: 15px;
        }

        .holder-details {
            margin: 50px 0 0 auto;
        }
    }
}